@import './variables.scss';
@import './sidebar.scss';
@import './tabs.scss';
@import './header.scss';
@import './buttons.scss';
@import './tables.scss';
@import './tiles.scss';
@import "./inputs.scss";
@import './toasts.scss';

font-face{
    font-family: "Inter", sans-serif;
    src : url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
}


html, body {
    overflow-x: hidden;
}
#app {
    font-family: 'Work Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

.p-component {
    font-family: 'Work Sans', sans-serif !important;
}

.page-container {
    position: relative;
    min-height: 100vh;
}

.main-container {
    display: flex;
    padding-bottom: 90px;
    padding-top: 190px;
    .content {
        width: 100%;
        padding-left: 100px;
        padding-right: 100px;
    }
}

.footer {
    position: absolute;
    bottom: 0px;
}

nav {
    padding: 30px;
    a {
        font-weight: bold;
        color: #2c3e50;
        &.router-link-exact-active {
            color: #42b983;
        }
    }
}
.card {
    border: 0 !important;
}

@media screen and (max-width: 700px) {
    #app {
        .main-container {
            padding-top: 160px;
            .content {
                width: 100%;
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
}
