h2 {
    font-weight: bold;
    text-transform: capitalize;
  }
  
  .navbar {
    padding: 0 !important;
    height: 230px;
    box-sizing: border-box;
    margin-bottom: 20px;
  }

  .navbar-nav {
    flex-direction: row !important;
  }

  .navbar-container {
    padding: 10px 20px;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.5662640056022409) 0%, rgba(0,0,0,0) 54%, rgba(0,0,0,0) 100%);
    height: 100%;
  }

  .background {
    background-color: $main-color;
    background-image: url('@/assets/header/background-desaturated.svg');
    //background-position: right 20px bottom -250px;
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    background-blend-mode: color-dodge;
    position:sticky !important;
    color: white;
    top: 0px;
    z-index: 999;
  
    .badge {
      position: relative;
      top: -40px;
      right: -10px;
      border-radius: 50%;
      background-color: aqua;
      color: black;
    }
    .right {
      position: absolute;
      right: 20px;
      top:10px;
    }
    .left {
      margin-left: 40px;
    }
    .bottom-container {
      text-align: left;
      padding: 2vh 10vw;
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      h2 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .breadcrumbs {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  
  .navbar-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%
  }

  .p-inputtext {
    border-radius: 20px;
  }
  .p-input-icon-right>i {
    margin-top: -1rem;
  }

  .icon {
    margin-right: 5px;
  }
  .mobile-header {
    display: none;
  }

  .mobile-search {
    display: none;
  }

  .switch-mobile {
    background: $main-lighter-color;
    color: $secondary-color !important;
    padding: 10px 10px;
    margin: 0 10px;
    border-radius: 5px;
    position: relative;
    display: none;
    cursor: pointer;
  
    &:hover {
      background: $main-color;
    }
  
    .options-container {
      display: block;
      position: absolute;
      right: 0;
      text-align: center;
      background-color: #fff;
      min-width: 240px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
      border-radius: 10px;
      span {
        color: $main-color;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 0.2em;
        padding-top: 0.2em;
        text-decoration: none;
        display: block;
      }
      .option {
        display: flex;
        align-items: center;
        justify-content: center;
  
        .text {
          text-align: center;
          color: $main-color;
        }

        .icon-flex {
          display: flex;
          flex: 2 1 auto;
          justify-content: space-around;

          .lucide {
            &:hover {
              color: $secondary-color;
            }
          }
        }

        .text {
          padding-top: 18px;
        }
  
      }
    }
  
    .show {
      display: block;
    }
  }

  .desktop-search-bar {
    display: inline-block;
  }
  
  @media (min-width: 992px) {
    .navbar-expand-lg{
      flex-wrap: wrap;
    }
  }

  @media (max-width: 1300px) {
    .navbar-nav {
      // display: none !important;
    }
    .mobile-header {
      display: block
    }

    .desktop-search-bar {
      display: none;
    }

    .mobile-search {
      display: flex;
      justify-content: center;
    }

    .switch-mobile {
      display: inline-block;
    }
  }

 

  @media screen and (max-width: 700px) {
        .background {
            .bottom-container {
                text-align: center;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    }