// @import "./variables.scss";
.p-inputtext {
  border-radius: 10px !important;
}

.pi-search {
  color: $primary-green-color !important;
}

.field {
  position: relative;
  margin-top: 10px;
  width: 100%;


  input {
    padding: 15px;
    border-radius: 15px;
    height: 40px;
  }

  select {
    padding: 15px;
    border-radius: 15px;
  }

  span {
    padding:1%;
    max-width: 700px;
    pointer-events: none;
    position:absolute;
    float: left;
    text-align: left;
    left:0;
    top:0;
    transition: 0.2s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity:0.5;
  }

  .tooltip-icon {
    top: 0;
    left: -50px;
    position: absolute;
    padding: 16px;
    display: inline-block;
    cursor: pointer;
  }

  input:focus + span, input:not(:placeholder-shown) + span {
    opacity:1;
    transform: scale(0.75) translateY(-100%) translateX(-20%);
  }

  /* Internet Explorer i Edge*/
  input:focus + span, input:not(:-ms-input-placeholder) + span {
    opacity:1;
    transform: scale(0.75) translateY(-100%) translateX(-20%);
  }

  select:focus + span, select:valid + span {
    opacity:1;
    transform: scale(0.75) translateY(-100%) translateX(-20%);
  }

  select:disabled + span, select:valid + span {
    opacity:1;
    transform: scale(0.75) translateY(-100%) translateX(-20%);
  }

  /* Internet Explorer i Edge*/
  select:focus + span, select:not(:-ms-input-placeholder) + span {
    opacity:1;
    transform: scale(0.75) translateY(-100%) translateX(-20%);
  }
}

.p-dropdown {
  width: 100% !important;
  border-radius: 15px !important;
}

.p-dropdown .p-dropdown-trigger {
  margin: auto 0 !important;
}

.p-tooltip {
  max-width: 100vw !important;
  z-index: 2001;
  .p-tooltip-text {
    background: #FEF993 !important;
    color: black !important;
    border: 1px solid $secondary-color;
  }
}

.coin-amount-tooltip .p-tooltip {

}

.coin-amount-tooltip .p-tooltip-text {
  border-style: solid;
  border-width: thin;
  border-color: $secondary-color;
}

.coin-amount-tooltip .p-tooltip-arrow {
  border-right-color: $secondary-color !important;
}

@media (max-width: 550px) {
  .field {
    span {
      width: 280px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    input:focus + span, input:not(:placeholder-shown) + span {
      overflow: visible;

    }

    /* Internet Explorer i Edge*/
    input:focus + span, input:not(:-ms-input-placeholder) + span {
      overflow: visible;
    }

    select:focus + span, select:valid + span {
      overflow: visible;
    }

    /* Internet Explorer i Edge*/
    select:focus + span, select:not(:-ms-input-placeholder) + span {
      overflow: visible;
    }
  }
}

.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
  background: $secondary-color !important;
}
.p-inputswitch:not(.p-disabled) .p-inputswitch-slider {
  background: $secondary-color !important;
}

