@import "./variables.scss";

.row-spacing table {
    border-spacing: 0px 4px !important;
}

.p-button.p-button-text {
    color: $main-lighter-color;
}

.p-datatable-hoverable-rows .p-selectable-row {
    cursor: default !important;
}

.p-selectable-row:nth-child(even) {
    background-color: rgb(247, 247, 247) !important;
}

.p-datatable .p-datatable-tbody > tr {
    overflow: hidden !important;
    height: 65px !important;
}

.p-datatable .p-datatable-tbody > tr > td {
    padding: 0.2rem 1rem;
}

.p-datatable .p-sortable-column:focus {
    box-shadow: none;
}
.actions {
    .p-button {
        border: 0 !important;
        background-color: transparent !important;
        font-weight: 500;
        gap: 5px !important;
    }
    .delete {
        color: $error-red-color !important;

        &:hover {
            background-color: rgb(255, 224, 224) !important;
        }
    }

    .preview {
        color: $plain-text-color !important;

        &:hover {
            background-color: rgb(214, 211, 211) !important;
        }
    }
}

.p-datatable-row-expansion {
    overflow: hidden !important;

    td {
        overflow: hidden !important;
    }
}

.p-paginator .p-paginator-first, .p-paginator .p-paginator-prev, .p-paginator .p-paginator-next, .p-paginator .p-paginator-last {
    color: $main-lighter-color;
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background: $main-lighter-color;
    border-color: $main-lighter-color;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
    background: $main-lighter-color;
}

@media (max-width: 960px) {
    .p-datatable .p-datatable-tbody > tr > td {
        border: 0 !important;
    }

    .p-datatable .p-datatable-tbody > tr > td:last-child {
        justify-content: center !important;
    }

    .p-selectable-row:nth-child(even) {
        background-color: rgb(247, 247, 247) !important;
    }

}