@import './variables.scss';

.p-tabview .p-tabview-nav {
  padding-bottom: 1px;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link {
  border-color: #fff !important;
  border-width: 2px;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
  box-shadow: none !important;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  border-color: $primary-green-color !important;
  border-width: 2px;
  border-radius: 10px;
}
