@import './variables.scss';

.Vue-Toastification__toast-component-body {
    .t-container {
        .t-body {
            box-shadow: none !important;
            border-radius: 7px !important;
        }
    }
}
.Vue-Toastification__toast--success {
    background-color: #002C50;
    .Vue-Toastification__icon {
        width: 30px;
    }
}
.Vue-Toastification__toast--error {
    background-color: #002C50;
    .Vue-Toastification__icon {
        width: 25px;
    }
}
