$main-color: #002C50;
$secondary-color: #2AFD88;
$main-lighter-color: #02447a;
$secondary-lighter-color: #59faa1;
$main-darker-color: #001b31;
$secondary-darker-color: #20df76;

$header-text-color: #FFFFFF;
$plain-text-color: #152036;

$primary-blue-color: #0F3153;
$primary-secondary-blue-color: #27697f;
$primary-green-color: #72bf44;
$error-color: #e02626;
$no-with-veto-color:#fff1a9;
$success-color:#E5FFF1;
$accents-link-color: #E3F0FF;