$main-color: #002C50;
$secondary-color: #72bf44;
$secondary-color-old: #2AFD88;
$main-lighter-color: #02447a;
$secondary-lighter-color: #8be955;
$main-darker-color: #001b31;
$secondary-darker-color: #518b2f;
$error-red-color: #861010;


$header-text-color: #FFFFFF;
$plain-text-color: #152036;

$primary-blue-color: #0F3153;
$primary-secondary-blue-color: #27697f;
$primary-green-color: #72bf44;
$error-color: #e02626;
$no-with-veto-color:#FDDB2A;
$success-color:#E5FFF1;
$accents-link-color: #E3F0FF;

$accents-light-warning: #FFF1A9;
$consumption-red: #861010;
$secondary-link: #0A6BDD;
$lighter-blue: #95BEDF;

$accents-light-grey: #F1F1F1;