Dockerfile

**/node_modules
**/dist


*/config/local*.json
*/config/development-*.json
*/config/production-*.json

**/logs

**/*.DS_Store
**/*.iml
**/*.idea
**/*.gitignore
**/*.git

**/README.md

*/wallet